/* Dealing with div whitespace issue:
see http://stackoverflow.com/questions/6871996/css-two-inline-block-width-50-elements-dont-stack */

.container {
    font-size: 0;
}

.wrapper{
    font-size:2rem;
    display: inline-block;
   

}



/* Box sizing */

* {
    box-sizing: border-box;
}


@media screen and (min-width:768px){
    .wrapper{
        width=50%;
    }
}
/* Assign styles here */
